body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

p {
    color: #666;
}
p {
    color: var(--branca);
    margin-bottom: 20px;
    font-size: 2rem;
  }